.vscode/
Catch2
Catch2/*

!main.cpp
main-default
main-updown
main-costant
main-halfdefault
main-highlow
main-lowhigh

testmain
tests
tests/*
testmain.cpp

src/queue/Queue.cpp

report
report/*

!*.pdf

!build.sh

build/*


*.sh
*.o

results.txt